doctype html
html(lang="en")
 
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewpoint"
      )
    head
      title Checking Account | E Corp
      link(
      type="text/css"
      href="project.css" 
      rel="stylesheet"
      )
      link(
      type="image/x-icon" 
      rel="icon" 
      href="favicon.ico"
      )
    body.home
    header
      img.websiteicon(
        alt="Evil Corporation" 
        height="25%" 
        src="ecorp.png"
        )
      h2#hiddenTruth vil Corporation
      nav.navbar-left
        ul
          a.navmenu(href="/")
            li Home 
          a.navmenu(href="/application")
            li Credit Card/Loan Application
          a.navmenu(href="/loans") 
            li Loans
      nav.navbar-right
        ul
          a.login(href="/customer-login")
            li Customer Login
          a.login(href="/customer-registration")
            li Customer Registration
      section.account-summary
        h1 Checking Account Summary
          p.mainbodytext
            | Manage your everyday banking needs with ease with E-Corp!<br>
            | Our checking account offers secure transactions, online banking, and flexible benefit such as : <br>
            | <br>No monthly fees for qualifying accounts
            | <br>Free online & mobile banking access
            | <br>Instant deposits & transfers
            | <br>24/7 fraud protection
            | <br>Same day cash withdrawal
            | <br>Overdraft Fee Protection  
    footer
      p © 2025 E Corp. All rights reserved.
      
      
//- Alex submission; Rad editing