doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewpoint"
      )
    title Customer Login
    link(
      href="login-page.css" 
      rel="stylesheet"
      )
    script(
      src="login-page.js" 
      defer=""
      )
  body
    main#main-holder
      h1#login-header Dashboard

  

//-Rad Peña-//