doctype html
html(lang="en")
  meta(
    content="width=device-width, initial-scale= 1.0" 
    name="viewpoint"
    )
  head
    title E Corp Banking, Mortgage, and Financial Services
    link(
      type="text/css" 
      rel="stylesheet" 
      href="project.css"
      )
    link(
      type="image/x-icon" 
      rel="icon" 
      href="favicon.ico"
      )
  body.home
    script(src="ecorp.js")
    img.websiteicon(
      alt="Evil Corporation" 
      height="25%" 
      src="ecorp.png"
      )
    h2#hiddenTruth vil Corporation
    nav.navbar-left
      ul
        a.navmenu(href="/application")
          li Credit Card/Loan Application
        a.navmenu(href="/checking")
          li Checking
        a.navmenu(href="/loans")
          li Loans
    nav.navbar-right
      ul
        a.login(href='/customer-login')
          li Customer Login
        a.login(href="/customer-registration")
          li Customer Registration
    .banner
      img#banner.banneritem(
        alt="Make the shareholders happy." 
        src="businesshandshake.gif"
        )
      img#banner.banneritem(
        alt="Free real estate." 
        src="nature.gif"
        )
      img#banner.banneritem(
        alt="Suckers." 
        src="jump.gif"
        )
    .slideshowcontainer
      img#slideshow(
        alt="Slideshow Start" 
        src="jump.gif"
        )
    h1 Here at E Corp we value YOU
    p.mainbodytext
      | Customers are our main priority at E Corp. 
      | We try our hardest to get you the best rates and deals, no matter what you are applying for! Whether that be:
    .mainservices
      p.mr Checkings & Savings Accounts
      p.mr.mrmiddle Mortgage Services
      p.mr.mrlast Business Accounts
    .serviceicons
      img.mricon(
        width="20%" 
        height="20%" 
        alt="Money to go gamble with." 
        src="bank_acc.png"
        )
      img.mricon(
        width="17.5%/" 
        height="17.5%" 
        alt="Free real estate." 
        src="house.png"
        )
      img.mricon(
        width="20%/" 
        height="20%" 
        alt="Mountains of cash" 
        src="business.png"
        )
    footer
     p © 2025 E Corp. All rights reserved.

//-Rad Pena submission; Multiple edits done by all group members
